@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
	}
body{
	background-color:#dedede;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:2;}
.article{
	width:1212px;
	background-color:#fff;
	margin:20px auto;
	padding:30px 20px;
	box-shadow:#666 2px 2px 0.5px;
	}
header{
	height:60px;
	background-color:#333;
	}
header h1{
	float:left;
	color:#F00;
	margin-left:50px;
	font-size:28px;
	line-height:60px;
	}
header nav{
	float:right;
	margin-right:20px;
	}
header nav li{
	float:left;
	margin:0 20px;
	}
header nav li a{
	color:#ebf8da;
	display:block;
	line-height:60px;
	font-size:12px;
	text-decoration:none;
	}
header nav li a:hover{
	color:#ada9a6;
	}
.article h1{
	font-weight:900;
	font-size:25px;
	margin-bottom:10px;
	}
.article h2{
	font-size:20px;
	color:#8d97a0;
	margin-bottom:10px;
	}
.article .section .author{
	font-size:12px;
	color:#8f8998;
	padding-right:5px;
	margin-bottom:10px;
	text-indent:0;
	}
.article .section .author span{
	padding-right:10px;}
.article .section p{
	text-indent:2em;
	margin-bottom:10px;
	}
.article .section a{
	color:blue;
	}
.article .section .img{
	text-indent:0;
	}
.article .section ul li{
	list-style:none;
	text-indent:2em;
	}
.article3 .section .imgbox img{
	width:100px;
	height:80px;
	}
.article3 .section .imgbox p{
	font-size:12px;
	margin-bottom:5px;
	text-indent:0;
	text-align:center;
	}
.article3 .section .imgbox{
	width:100px;
	height:110px;
	border:1px solid #ccc;
	margin:10px 50px;
	padding:10px 10px;
	}
.article4 .section ol{
	margin-left:50px;
	font-weight:600;
	}
.article4 .section table{
	width:100%;
	border:1px solid #ccc;
	}
.article4 .section table,td,th{
	border:1px solid #ccc;
	border-collapse:collapse;
	}
.article4 .section table td,th{
	text-align:left;
	padding:5px 10px;
	font-size:13px;
	}	
.article4 .section table td{
	font-size:12px;}
.article4 .section table th{
	background-color:#333;
	color:#fff;
	}
.article4 .section table tr:nth-child(5){
	background-color:#ccc;;
	}
.article5 h3{
	color:#000;
	padding-left:10px;
	border-left:3px solid #999;
	font-size:14px;
	font-weight:700;
	}
.article5 .section h2{
	color:#000;
	margin-top:15px;
	padding-left:10px;
	
	}
.article5 .section p{
	font-size:10px;
	clear:both;
	}
.article5 .section{
	padding-left:200px;
	}
.article5 .section label{
	text-align:right;
	display:block;
	width:200px;
	float:left;
	}
.article5 .section p.description{
	margin:-10px 0px 15px 200px;
	color:#999;
	}
.article5 .section textarea{
	font-size:14px;}
.article5 .section button{
	display:block;
	width:1212px;
	height:40px;
	margin-left:-200px;
	background-color:#3355d0;
	border-radius:10px;
	color:#fff;
	}
footer{
	width:100%;
	height:50px;
	padding-top:20px;
	font-weight:900;
	background-color:#000;
	color:#fff;
	text-align:center;
	font-size:8px;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

