*{
	margin:0;
	padding:0
	}
a{
	text-decoration:none;
	color:#000;}
body{
	min-width:1270px
	}
.fl{
	float:left;
	}
.fr{
	float:right;}
.spanicon{
	width:40px;
	height:2px;
	background-color:#fff;
	display:block;
	margin:10px auto;
		}
.inputbox{
	width:290px;
	height:30px;
	margin-right:10px;
	background-color:#EDEDEF;
	line-height:30px;
	font-size:12px;
	padding:5px 10px;
	color:#999;
	}
.textinput{
	border:none;
	width:220px;
	height:30px;
	background-color:#EDEDEF;
	float:right;
	}
header,.container,footer{
	width:100%;
	}
.font52{
	font-size:52px;
	}
.font120{
	font-size:140px;
	}
.font30{
	font-size:30px;
	}
.font22{
	font-size:22px;}
/*header的样式*/
header{
	height:55px;
	font-family:黑体;
	}
	
	/*header左边样式*/
	header .left{
		margin-left:55px;
		}
	header .left img{
		width:40px;
		height:35px;
		margin-top:10px;
		float:left;
		}
	header .left span{
		line-height:55px;
		display:inline-block;
		float:left;
		margin-left:10px;
		}
	
	/*header右边样式*/
	header nav{
		margin-right:60px;
		}
	header nav li{
		float:left;
		list-style:none;
		line-height:55px;
		width:66px;
		text-align:center;
		margin-right:10px;
		}
	header nav li a{
		line-height:52px;
		text-decoration:none;
		display:block;
		color:#969799;
		border-bottom:3px solid transparent;
		}
	header nav li a img{
		width:16px;
		height:18px;
		display:block;
		float:left;
		margin-top:18.5px;
		margin-left:6.5px;
		margin-right:-9px;
		}
	header nav li a:hover,
	header nav li a:focus{
		color:#E84F51;
		border-color:#E84F51;
		}
		
/*container的样式*/
.container{
	/*background-color:#ff0;*/
	}
	/*article1的样式*/
	
	/*article1的imgholder样式*/
	.article1 .imgholder{
		position:relative;
		}
	.article1 .imgholder img{
		width:100%;
		height:750px;
		}
	.article1 .imgcover{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:750px;
		background-color:#000;
		opacity:0.2;
		}
	.article1 .textholder{
		position:absolute;
		top:230px;
		left:8%;
		font-family:宋体;
		}
	.article1 .textholder{
		color:#fff;
		}
	.article1 .textholder h1{
		font-size:60px;
		font-weight:bolder;
		margin-bottom:20px;
		}
	.article1 .textholder p{
		font-size:20px;
		line-height:30px;
		}
	.article1 .textholder button{
		width:332px;
		height:65px;
		background-color:#E8504F;
		border:2px solid #E8504F;
		font-size:33px;
		line-height:61px;
		color:#fff;
		margin-top:60px;
		cursor:pointer;
		}
	/*article1的图片下的content样式*/
	.article1 .content{
		width:100%;
		height:250px;
		font-size:14px;
		color:#666;
		}
	.article1 .content dl{
		float:left;
		width:25%;
		height:100%;
		text-align:center;
		}
	.article1 .content dt{
		height:130px;
		}
	.article1 .content img{
		width:42px;
		height:42px;
		margin-top:44px;
		}
	.article1 .content dd{
		width:48%;
		height:50px;
		padding:0 26%;
		border-right:2px solid #999;
		}
	.article1 .content dl:last-child dd{
		border:none;
		}
		
	/*article2的样式*/
	/*article2 上部分样式*/
	.article2 .top{
		width:100%;
		height:360px;
		background-color:#EDEDEC;
		overflow:hidden;
		}
	.article2 .top img{
		margin:85px auto 45px auto;
		display:block;
		}
	.article2 .top p{
		font-size:50px;
		color:#A2A2A2;
		width:60%;
		margin:0 auto;
		}
	/*article2下部分样式*/
	.article2 .imgholder{
		position:relative;
		}
	.article2  .imgholder .imgcover{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:340px;
		background-color:#F00;
		opacity:0.1;
		}
	.article2 .imgholder img{
		width:100%;
		height:340px;
		}
		/*article2 下半部分文字样式*/
	.article2 .textholder{
		position:absolute;
		width:80%;
		text-align:center;
		top:50px;
		left:10%;
		font-size:20px;
		color:#fff;
		}
	.article2 .textholder p{
		font-size:12px;
		margin-top:30px;
		margin-bottom:50px;
		}
	.article2 .textholder select,
	.article2 .textholder button{
		width:22%;
		height:35px;
		color:#999;
		font-family:微软雅黑;
		float:left;
		margin-right:20px;
		}
	.article2 .textholder select option{
		padding:5px 20px;
		}
	.article2 .textholder button{
		background-color:#BF4E48;
		border:2px solid #BF4E48;
		color:#fff;
		
		}
	.article2 .textholder button span{
		float:left;
		width:20%;
		}
	.article2 .textholder button span:first-child{
		margin-left:30%;
		}
		
		
	/*活动*/
	.article2 .activity{
		width:100%;
		height:600px;
		background-color:#F8F8F8;
		}
	.article2 .activity div{
		float:left;
		width:220px;
		height:400px;
		margin-right:40px;
		margin-top:100px;
		}
	.article2 .activity div:first-child{
		margin-left:145px;}
	.article2 .activity div img{
		width:203px;
		height:310px;
		padding:15px 10px;
		border:1px ridge #dadada;
		}
	.article2 .activity div p{
		width:100%;
		text-align:center;
		font-size:12px;
		color:#999;
		font-family:微软雅黑;
		margin-bottom:5px;}
	.article2 .activity div .title{
		font-size:14px;
		margin-top:10px;
		color:#666;
		}
	.article2 .activity .acSH .title{
		font-family:黑体;
		font-size:22px;
		color:#000;
		letter-spacing:33px;
		margin-left:25px;
		}
	/*new world样式*/
	.article2 .newworld{
		width:100%;
		height:567px;}
	.article2 .newworld .left{
		position:relative;
		width:66%;
		height:567px;
		}
	.article2 .newworld .left img{
		width:100%;
		height:100%;}
	.article2 .newworld .left .textcontent{
		position:absolute;
		top:24%;
		left:28%;
		color:#fff;
		font-family:Verdana, Geneva, sans-serif;
		text-align:center;
	}
	
	.article2 .newworld .right{
		position:relative;
		width:34%;
		height:100%;
		}
	.article2 .newworld .right .textcontent{
		padding:20% 25%;
		}
	.article2 .newworld .right .textcontent h1{
		margin-bottom:30px;
		text-align:center;
		}
	.article2 .newworld .right .textcontent h1 span{
		color:#E85251;}
	.article2 .newworld .right .textcontent p{
		font-size:10px;
		line-height:30px;
		color:#ccc;
		font-family:宋体;
		margin-bottom:50px;
		}
	.article2 .newworld .right .textcontent button{
		width:105px;
		height:30px;
		border:1px solid #E15C6D;
		background-color:#fff;
		margin-left:72.5px;
		margin-right:72.5px;
		}
	.article2 .newworld .right .textcontent button a{
		color:#E15C6D;
		text-decoration:none;
		display:block;
		}
	.article2 .newworld .right .textcontent ul{
		margin:20px 82px;
		width:66px;
		}
	.article2 .newworld .right .textcontent ul li{
		float:left;
		width:10px;
		height:10px;
		border:1px solid #999;
		border-radius:50%;
		list-style:none;
		margin-left:10px;
		}
	.article2 .newworld .right .textcontent ul li:hover,
	.article2 .newworld .right .textcontent ul li:first-child{
		background-color:#999;
		}
	.article2 .newworld .right .textcontent .angle span{
		width:0px;
		height:0px;
		border-width:15px 25px;
		border-style:solid;
		position:absolute;
		border-color:transparent #fff transparent transparent;
		left:-49px;
		top:268.5px;
		}
	
	/*newtimes*/
	.article2 .newtimes{
		width:100%;
		height:520px;
		}
	.article2 .newtimes .left,
	.article2 .newtimes .middle,
	.article2 .newtimes .right{
		width:33%;
		height:100%;
		}
	.article2 .newtimes .left{
		background-color:#E8504F;
		color:#fff;
		text-align:center;
		}
	.article2 .newtimes .left .textcontent{
		margin-top:179px;}
	.article2 .newtimes .left p{
		margin-bottom:10px;
		}
	.article2 .newtimes .left .spanicon{
		/*display:block;
		width:30px;
		height:2px;
		background-color:#fff;*/
		margin:30px auto;
		}
	.article2 .newtimes .left button{
		width:170px;
		height:40px;
		background-color:#E8504F;
		border:1px solid #fff;
		}
	.article2 .newtimes .left button a{
		color:#fff;
		font-size:22px;
		text-decoration:none;
		}
	.article2 .newtimes .middle{
		background-color:#fff;
		color:#000;
		}
	.article2 .newtimes .middle span{
		background-color:#000;
		}
	.article2 .newtimes .middle button{
		background-color:#fff;
		border-color:#E8504F;
		}
	.article2 .newtimes .middle button a{
		color:#E8504F;}
	.article2 .newtimes .right img{
		width:100%;
		height:100%;
		}
		
		/*joinus*/
	.joinus{
		overflow:hidden;}
	.joinus .title .spanicon{
		background-color:#E44F4B;
		margin:10px auto 15px auto;
		}
	.joinus .title{
		text-align:center;
		font-size:12px;
		color:#AFAFAF;
		width:32%;
		margin:115px auto 55px auto;
		}
	.joinus .title h1{
		color:#000;
		}
	.joinus dl{
		width:290px;
		font-size:10px;
		color:#999;
		margin-left:130px;
		margin-bottom:165px;
		}
	.joinus dt{
		font-size:14px;
		color:#333;
		margin-bottom:15px;
		margin-top:50px;
		}
	.joinus dl span a{
		float:right;
		font-family:宋体;
		color:#999;
		}
	.joinus .right{
		margin-top:50px;
		margin-right:205px;
		}

	.joinus .right .top,
	.joinus .right .middle{
		overflow:hidden;
		margin-bottom:10px;
		}
	.joinus .right .life{
		width:610px;
		height:90px;
		background-color:#EDEDEF;
		font-size:12px;
		padding:5px 10px;
		line-height:30px;
		}
	.joinus .right .life label{
		float:left;
		color:#999;}
	.joinus .right .life textarea{
		width:465px;
		height:90px;
		border:none;
		background-color:#ededef;
		}
	.joinus .right button{
		width:630px;
		background-color:#EDEDEF;
		height:40px;
		border:none;
		margin-top:10px;
		color:#999;
		}
	
/*footer的样式*/
footer{
	background-color:#33363f;
	color:#fff;
	}
footer .footContainer h1{
	font-size:22px;
	margin-bottom:10px;}
footer .footContainer{
	height:225px;
	padding:95px 30%;
	text-align:center;
	}
footer .footContainer p{
	margin-bottom:30px;
	font-size:15px;
	line-height:1.5;
	}
footer .footContainer input[type='email']{
	width:80%;
	height:40px;
	border:2px solid #fff;
	display:block;
	float:left;
	padding-left:5px;
	font-size:14px;}
footer .footContainer button{
	width:15%;
	height:44px;
	background-color:#717179;
	border:2px solid #717179;
	color:#fff;
	font-size:15px;
	display:block;
	float:left;
	}
footer .footContainer button span{
	line-height:40px;
	display:block;
	height:40px;
	float:left;
	}
footer .footContainer button span:first-child{
	width:35%;
	margin-left:15%;
	}
footer .footContainer button span:last-child{
	width:35%;
}
footer .footContainer .imgul{
	width:100%;
	float:left;}
footer .footContainer .imgul ul{
	width:57%;
	margin:20px auto;}
footer .footContainer .imgul li{
	float:left;
	list-style:none;
	margin-left:20px;
	}
footer .jb{
	width:100%;
	height:60px;
	line-height:60px;
	background-color:#30303A;
	font-size:10px;
	color:#CCC;
	}
footer .jb .left{
	float:left;
	margin-left:5%;
	}
footer .jb .right{
	float:right;
	margin-right:2%;
	}
footer .jb .right a{
	color:#ccc;
	text-decoration:none;
	display:block;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	